graph {
	fill-color: rgb(255, 255, 255);
}

edge {
	size: 2px;
	/*shape:cubic-curve;*/
	/*shape:blob;*/
}

node {
	size: 15px;
	text-size: 9px;
	fill-color: rgb(155, 155, 155);
	text-color: rgb(255, 255, 255);
	stroke-mode: plain;
	stroke-width: 2px;
	stroke-color: #FFF8;
}